<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form method="post" th:action="@{/login}">
        <div class="form-group">
            <input type="text" id="email" name="email" th:field="${userDto.email}" placeholder="메일을 입력하세요">
            <input type="text" id="password" name="password" th:field="${userDto.password}" placeholder="비밀번호를 입력하세요">
        </div>
        <button type="submit">로그인</button>
    </form>
</div> <!-- /container -->
</body>
</html>
