.movie-container {
    position: relative;
    overflow: hidden;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.movie-container h2 {
    color: white;
    font-size: 30px;
    margin: 20px;
}

.movie-container hr {
    border: none;
    border-top: 2px solid rgba(204, 204, 204, 0.5);
}

.movies {
    display: flex;
    overflow-x: hidden;
    margin-top: 20px;
    touch-action: pan-x;
    -webkit-overflow-scrolling: touch;
}

.movie-poster {
    margin: 0 10px;
}

.movie-poster img {
    width: 150px;
    height: auto;
}

.scrollButton {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
}

.scrollButton.left {
    left: 0;
}

.scrollButton.right {
    right: 0;
}

.scrollButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}