.movie-details-container {
    display: flex;
}

.poster-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;
    position: sticky;
    top: 0;
    height: 100vh;
}

.poster-img {
    width: 250px;
    height: auto;
}

.star-rating {
    display: flex;
    color: white;
    align-items: center;
    font-size: 17px;
    font-weight: lighter;
    margin-top: 20px;
}

.star {
    width: 40px;
    height: 40px;
    margin-right: 2px;
}

.yellow-star {
    background-image: url('/public/img/corn_pop.png');
    background-size: cover;
}

.grey-star {
    background-image: url('/public/img/corn_half.png');
    background-size: cover;
}

.black-star {
    background-image: url('/public/img/corn_unpop.png');
    background-size: cover;
}

.review_btn {
    width: 250px;
    margin-top: 20px;
    background: none;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

.info-container {
    flex: 2;
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 1%;
    overflow-y: auto;
}

.info-section {
    margin-right: 10%;
    color: white;
}

.title-section {
    display: flex;
    margin-bottom: 0;
    align-items: baseline;
}

.korean_title {
    color: white;
    font-size: 35px;
    margin-right: 2%;
    margin-bottom: 0;
}

.release_year {
    color: white;
    font-size: 25px;
    margin-bottom: 0;
}

.original_title {
    color: white;
    font-size: 25px;
    margin-top: 1%;
}

.overview {
    color: white;
    font-size: 20px;
}

.directors {
    color: white;
    font-size: 20px;
}

.cast {
    color: white;
    font-size: 20px;
}

.reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.review_list {
    width: 95%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.review_up {
    width: 100%;
}

.review_profile {
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.review_nickname {
    display: inline;
    vertical-align: 50%;
    margin-right: 30px;
    font-size: 20px;
}

.review_popScore {
    display: inline;
    vertical-align: 50%;
}

.review_popCorn {
    width: 20px;
    height: 20px;
    margin-bottom: -1%;
    display: inline;
    vertical-align: 50%;
}

.write_comment {
    width: 25px;
    height: 25px;
    display: inline-block;
    filter: invert(100%);
    float: right;
    margin-top: 7px;
}

.review_likes {
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%);
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}
.review_likes_cnt{
    color: white;
}
.movie_likes {
    width: 40px;
    height: 40px;
    margin-bottom: -1%;
    display: inline-block;
    filter: invert(100%);
}

.movie_likes_cnt{
    color: white;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(204, 204, 204, 0.5);
}

.review_hr {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(204, 204, 204, 0.5);
}

.review_content {
    margin: 1px;
}