.ranks-container {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    color: #fff;
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.rank-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 7%;
}

.link-style {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.rank-item {
    width: 90%;
    height: auto;
    margin-bottom: 10%;
    margin-top: 10%;
    align-items: center;
    display: flex;
}

.movie-poster {
    width: 200px;
    height: auto;
    margin-right: 0px;
}

.movie-info {
    width: 400px;
    height: 320px;
    margin-left: 7%;
    text-align: left;
}

.ranking-title {
    display: flex;
    align-items: baseline;
}

.ranking-title-korean {
    flex: 3;
    font-size: 20px;
    font-weight: bold;
    align-items: baseline;

}

.ranking-title-original {
    flex: 2;
    font-size: 15px;
    margin-left: 10px;
    align-items: baseline;

}

.ranking-title-year {
    flex: 1;
    font-size: 15px;
    margin-left: 10px;
    align-items: baseline;
}

.ranking-likes {
    display: flex;
    align-items: baseline;
}

.ranking-likes-img {
    width: 25px;
    height: 25px;
}

.ranking-likes-cnt {
    font-size: 15px;
    margin-left: 5px;
}

.ranking-directors {
    font-size: 15px;
}

.ranking-cast {
    font-size: 15px;
}

.ranking-score {
    display: flex;
}

.ranking-score-img {
    display: flex;
    width: 180px;
    height: auto;
    margin-right: 5px;
}

.ranking-score-cnt {
    font-size: 15px;
    margin-left: 5px;
    text-align: center;
}

.yellow-star {
    background-image: url('/public/img/corn_pop.png');
    background-size: cover;
}

.grey-star {
    background-image: url('/public/img/corn_half.png');
    background-size: cover;
}

.black-star {
    background-image: url('/public/img/corn_unpop.png');
    background-size: cover;
}

.user-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 70px;
}

.user-name {
    margin-top: 70px;
    margin-left: 20%;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
}

button {
    background-color: #fff;
    color: #000;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #555;
    color: #fff;
}