.review-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.review-content {
    background-color: transparent;
    color: white;
    padding: 10px;
    width: 90%;
}

h1 {
    margin-left: 10px;
}

.review-rating {
    align-items: center;
    margin: 20px;
}

/* 팝콘 아이콘 스타일 */
.popcorn-rating {
    display: flex;
    align-items: center;
}

.popcorn {
    width: 35px;
    height: 35px;
    background-image: url('/public/img/corn_pop.png'); /* 팝콘 이미지 경로 */
    background-size: cover;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    filter: brightness(50%);
}

.popcorn.active {
    /* 선택된 팝콘의 색상을 변경합니다. */
    filter: brightness(100%);
}

/* 팝콘 아이콘들을 감싸는 div에 마우스 호버 시 자식 팝콘들의 색상을 변경합니다. */
.popcorn-rating:hover .popcorn {
    filter: brightness(50%);
}

/* 특정 팝콘 아이콘을 호버했을 때, 그 팝콘을 포함한 모든 왼쪽의 팝콘 아이콘들의 색상을 변경합니다. */
.popcorn-rating:hover .popcorn:hover ~ .popcorn {
    filter: brightness(100%);
}

textarea {
    width: 100%;
    height: 100%;
    resize: vertical;
    font-size: 20px;
}

.review-submit-btn {
    background: none;
    color: white;
    border-radius: 10px;
    align-items: center;
    width: 100%;
    font-size: 15px;
}

.error-message {
    color: red;
    margin-top: 10px;
}